.destinationcard-container {
  position: relative;
  background: $black;
  border-radius: 15px;
  cursor: pointer;

  // &:hover {
  //   background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  // }

  > img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    opacity: 0.5;

    &:hover {
      opacity: 0.8;
    }
  }

  .details-container {
    position: absolute;
    bottom: 10px;
    padding: 0px 12px 0 15px;
    color: white;
  
  }
}

.container-destination-card {
  padding: 0px 10px;
}

.destination-card-grid {
  padding: 5px;

  h3 {
    font-weight: 600;
    margin-bottom: 2px;
  }
}


@media(min-width: 767px) {
  .destinationcard-container {
    height: 180px;
  
    > img {
      height: 180px;
    }

    h3 {
      font-size: 13px;
    }

    .country-name {
      font-size: 12px;
    }
  }
}

@media(min-width: 992px) {
  .destinationcard-container {
    height: 270px;
  
    > img {
      height: 270px;
    }

    h3 {
      font-size: 21px;
    }

    .country-name {
      font-size: 15px;
    }
  }

  .container-destinationcard-small {
    .destinationcard-container {
      height: 230px;

      > img {
        height: 230px;
      }

      h3 {
        font-size: 17px;
      }
    }
  }
}

@media(max-width: 1200px) {
  .accordion-button {
    font-size: 16px;
  }
}


@media (max-width: 576px) {
  .destinationcard-container {
    height: 280px;
    > img {
      height: 280px;
    }
  }
}