.navbar-container {
  position: fixed;
  width: 100%;
  padding: 12px 0;
  background: transparent;
  transition: background 0.5s;

  &.scrolled {
    background-color: $grey;
    transition: background-color 0.5s;
    z-index: 1;
    // padding: 6px 0px;
    // transition: padding 0.5s;
  }

  // &.scrolled img {
  //   width: 60%;
  //   transition: width 1s;
  // }

  .navbar-row {
    display: flex;
    align-items: center;
  
    .navbar-right {
      display: flex;
      justify-content: flex-end;
      gap: 30px;
  
      a {
        color: #fff;
        text-decoration: none;
        padding: 6px 0px;
      }

      .login-button {
        @extend %button-white-round;
      }
    }
  }
}


// SEARCH BAR

.search-container {
  position: relative;
  right: -54px;
  top: 3px;

  input, input:focus-visible {
    background: rgba(255,255,255,0.4);
    border-radius: 20px;
    border: none;
    padding: 5px 3px 5px 15px;
    color: $white;
    font-size: 14px;
    outline: none;

    &::placeholder {
      color: $white;
      font-size: 14px;
    }
  }

  a {
    z-index: 10;
  }
}

.dropdown {
  position: absolute;
  width: 100%;
}

.search-list {
  border-bottom: 1px solid white;

  p {
    margin-bottom: 0px;
  }

  a {
    display: block;
    padding: 7px 0px 8px 15px !important;
  }

  &:hover {
    background: rgba(255,255,255,0.3);
  }
}

.navbar-right a {
  z-index: 10;
}
