.navbar-container {
  position: fixed;
  width: 100%;
  padding: 12px 0;
  background: transparent;
  transition: background 0.5s;
  z-index: 3;

  &.scrolled {
    background-color: $grey;
    transition: background-color 0.5s;
    // padding: 6px 0px;
    // transition: padding 0.5s;
  }

  // &.scrolled img {
  //   width: 60%;
  //   transition: width 1s;
  // }

  .navbar-row {
    display: flex;
    align-items: center;
  
    .navbar-right {
      display: flex;
      justify-content: flex-end;
      gap: 30px;
      align-items: center;
  
      a {
        color: #fff;
        text-decoration: none;
        padding: 6px 0px;
      }

      .login-button {
        @extend %button-white-round;
      }
    }
  }
}

.profile-image-header {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  border: 1px solid white;
}

.logo {
  max-width: 290px;
  padding-top: 2px;
}


// SEARCH BAR

.search-container {
  position: relative;
  right: -54px;

  input, input:focus-visible {
    background: rgba(255,255,255,0.4);
    border-radius: 20px;
    border: none;
    padding: 5px 3px 5px 15px;
    color: $white;
    font-size: 13px;
    outline: none;

    &::placeholder {
      color: $white;
      font-size: 13px;
    }
  }

  a {
    z-index: 10;
  }
}

.dropdown {
  position: absolute;
  width: 100%;
  background: $grey;
  margin-top: 6px;
  border-radius: 10px;
}

.search-list {
  border-bottom: 1px solid white;

  &:last-child {
    border-bottom: none;
  }

  p {
    margin-bottom: 0px;
  }

  a {
    display: block;
    padding: 9px 0px 8px 15px !important;
  }

  &:hover {
    background: rgba(255,255,255,0.3);
    border-radius: 10px;
  }
}

.navbar-right a {
  z-index: 10;
}


@media (max-width: 767px) {
  .logo {
    max-width: 220px;
    padding-top: 0px;
  }

  .navbar-container .navbar-row .navbar-right {
    gap: 18px;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .navbar-right svg {
    display: none;
  }
}

@media (max-width: 500px) {
  .navbar-row {
    display: block;
  }

  .navbar-logo {
    display: flex;
    justify-content: center;
  }

  .logo {
    max-width: 280px;
  }

  .navbar-right {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
}