.image-upload {
  width: 180px;
  max-height: 89px;
  object-fit: cover;
  margin-bottom: 10px;
}

.container-delete-image {
  position: relative;
  display: flex;
  gap: 15px;
  width: 240px;
  button {
    background: none;
    border: none;
    font-size: 24px;
    position: absolute;
    right: 58px;
    top: -7px;
    &:hover, &:focus-visible, &:active {
      background: none !important;
      border: none !important;
      box-shadow: none !important;
      font-size: 25px;
      transition: all .2s ease-in-out;
    }
  }
}

.image-input {
  font-size: 14px;
}