.header-bg-image {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 80vh;

  > img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
  }

  .content-after-header-img {
    --bs-gutter-x: 0;
  }
}

.categories {
  margin: 10px 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 11px;
}

.category-button {
  @extend %button-white-round;
  padding-top: 10px;
  text-transform: uppercase;
  background: rgba(255,255,255,0.3);
  border-width: 2px;
  font-weight: 500;
  cursor: context-menu;
}

.description-container {
  text-align: center;
  padding: 70px 0 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  
  a {
    @extend %button-white-round;
  }

  .active-button {
    background: rgba(255,255,255,0.1);
    cursor: context-menu;
  }
}

.space-before-icon {
  margin-right: 10px;
}

.edit-icons {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0 -30px;
  gap: 10px;
}

@media (max-width: 768px) {
  .header-bg-image {
    height: 50vh;
  }
  .category-button {
    font-size: 14px;
    padding: 4px 17px;
  }
}

@media (max-width: 576px) {
  .buttons-container {
    flex-wrap: wrap;
  }
  .header-bg-image {
    height: 40vh;
  }
  .category-button {
    font-weight: 300;
    font-size: 12px;
    padding: 3px 9px;
  }
  .categories {
    margin: 4px 0 10px;
  }
  .content-on-header h1 {
    font-size: 24px;
    margin-bottom: 0px;
  }
}


// CONTAINER WITH BORDER

.details-container-w-border {
  padding: 30px 70px 17px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 60px;
}


// COMMENTS

.comment-container {
  padding: 30px 0px 12px;
  border-top: 1px solid $lightgrey;

  .comment-container-inside {
    display: flex;
    justify-content: space-between;
  }

  &:first-child {
    padding-top: 0px;
    border: none;
  }

}

.user-img-sm {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 30px;
}

.user-title-container {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 10px;

  p {
    margin-bottom: 0px;
  }
}

.user-bio-sm {
  color: $lightgrey;
  font-style: italic;
}

.h4-sidebar {
  font-size: 20px;
  padding-bottom: 10px;
}

.trash-icon svg:hover {
  cursor: pointer;
  opacity: 0.9;
}


// FORM ADD COMMENT

.form-button {
  @extend %button-white-round;
}

.form-comment input, .form-comment textarea {
  @extend %text-input;
}