.modal-content {
  background: rgb(34 34 34 / 95%);
  padding: 10px 15px;

  .btn-close {
    filter: brightness(0) invert(1);
    opacity: 1;
  }

  .modal-header {
    border-bottom: none;
  }

  .modal-footer {
    border-top: none;
  }

  input {
    @extend %text-input;
  }

  .form-button {
    @extend %button-white-round;
    width: 100%;
  }
}