* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap');

body {
  background-color: $grey;
  color: $white;
  font-size: 15px;
  letter-spacing: 0.2px;
  font-weight: 300;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}

// .container-fluid {
//   padding: 0px;
// }

.header-image {
  @extend %image-cover;
  height: 300px;
}

.country-container {
  display: flex;
  gap: 8px;
  align-items: baseline;

  h2 {
    font-size: 16px;
    font-weight: normal;
  }

  img {
    width: 20px;
  }
}

a {
  color: $white;
  text-decoration: none;
}

.headings-center {
  text-align: center;
  padding: 50px 0;

  h2 {
    font-size: 1.3rem;
    font-weight: 300;
  }
  
  h1 {
    font-size: 2rem;
  }
}

.svg-inline--fa:hover {
  opacity: 0.9;
}