* {
  box-sizing: border-box;
}

body {
  background-color: $grey;
  color: $white;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}

// .container-fluid {
//   padding: 0px;
// }

.header-image {
  @extend %image-cover;
  height: 300px;
}

.country-container {
  display: flex;
  gap: 8px;
  align-items: baseline;

  h2 {
    font-size: 16px;
    font-weight: normal;
  }

  img {
    width: 20px;
  }
}

a {
  color: $white;
  text-decoration: none;
}

.headings-center {
  text-align: center;
  padding: 50px 0;

  h2 {
    font-size: 1.3rem;
    font-weight: 300;
  }
  
  h1 {
    font-size: 2rem;
  }
}