$grey: #222;
$lightgrey: #c6c6c6;
$white: #fff;
$black: #000;

%button-white-round {
  padding: 6px 28px;
  border: 1px solid white;
  border-radius: 20px;
  background: none;
  color: white;
}

%image-cover {
  object-fit: cover;
  width: 100%;
}