$grey: #222;
$lightgrey: #c6c6c6;
$white: #fff;
$black: #000;

%button-white-round, .button-border {
  padding: 9px 28px 8px;
  border: 1px solid white;
  border-radius: 20px;
  background: none;
  color: white;
  text-decoration: none;

  &:hover {
    box-shadow: 0 0 0 0.1rem rgba(255,255,255,.25);
  }
}

%image-cover {
  object-fit: cover;
  width: 100%;
}

%text-input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
  width: 100%;
  background: $white;
  margin-bottom: 10px;
  color: $grey;
  &:focus {
    background: $white;
    color: $grey;
    border-color: $white;
    box-shadow: 0 0 0 0.13rem rgba(255,255,255,.25);
  }
  &::placeholder {
    color: $grey;
    font-size: 14px;
  }
}